<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @comment.post_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

# I started adding this for iteration 5
<h2>Comments</h2>
<div id="comments>"
	<%= @post.comments.each do |comment| %>
		<%= div_for_comment do %>
		<p>
			<strong>Posted <%= time_go_in_words(comment.created_at) %> ago</strong>strong><br />
			<%= h(comment.body) %>
		<p>
	<% end %>
<% end %>
# this is the end of the addition this for iteration 5

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
